In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./datas/netflix_titles.csv")

In [6]:
df.head()

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score
0,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0
1,1,Loki,(2021??),"Action,Adventure,Fantasy",0,A new Marvel chapter with Loki at its center.,0.0
2,2,The Falcon and the Winter Soldier,-2021,"Action,Adventure,Drama",50 min,"Following the events of 'Avengers: Endgame,' S...",7.5
3,3,WandaVision,-2021,"Action,Comedy,Drama",350 min,Blends the style of classic sitcoms with the M...,8.1
4,4,Spider-Man: No Way Home,-2021,"Action,Adventure,Sci-Fi",0,A continuation of Spider-Man: Far From Home.,0.0

In [7]:
df.describe()

                ID   IMDB_Score
count  1690.000000  1690.000000
mean    844.500000     6.877337
std     488.005294     2.690564
min       0.000000     0.000000
25%     422.250000     6.900000
50%     844.500000     7.800000
75%    1266.750000     8.400000
max    1689.000000     9.600000

In [9]:
df.shape

(1690, 7)