In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("./datas/Netflix TV Shows and Movies.csv")

In [8]:
df.head()

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
2,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
3,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
4,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0

In [9]:
df['description']

0       A mentally unstable Vietnam War veteran works ...
1       King Arthur, accompanied by his squire, recrui...
2       Brian Cohen is an average young Jewish man, bu...
3       12-year-old Regan MacNeil begins to adapt an e...
4       A British sketch comedy series with the shows ...
                              ...
5278    Three women with totally different lives accid...
5279    A beautiful love story that can happen between...
5280    A man from Nigeria returns to his family in Ca...
5281    A family faces destruction in a long-running c...
5282    With winter behind them, Bheem and his townspe...
Name: description, Length: 5283, dtype: object

In [10]:
#TYPE에는 어떤 종류가 있을까?
df['type'].unique()

array(['MOVIE', 'SHOW'], dtype=object)